<section clas = "contact">
  <div>
    <p class = "ueberschrift">Kontakt</p>
    <div class="karten-grid">

      <!--Karte-->
      <div class="karte">
        <a href="info@mexxmedia.com" target="_blank">
          <img src="footer/at.png"> info&#64;mexxmedia.com
        </a><br><br>
        <a><img src="footer/phone-call.png"> +49 123 456 7890</a>
        <br>
      </div>

      <!--Karte-->
      <div class="karte">
        <a href="https://www.instagram.com" target="_blank">
          <img src="footer/instagram.png" alt="Instagram">
          &#64;MexxMedia
        </a>
        <br><br>
        <a href="https://www.tiktok.com" target="_blank">
          <img src="footer/tik-tok.png" alt="Tik-Tok">
          &#64;MexxMedia
        </a><br><br>
        <a href="https://www.facebook.com" target="_blank">
          <img src="footer/facebook.png" alt="Facebook">
          &#64;MexxMedia
        </a>
      </div>


    </div>
  </div>
</section>
