<header [ngClass]="{'header-dunkel': isScrolled, 'header-hell': !isScrolled}">
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <img [src]="logoIcon" alt="MexxMedia Logo">
      </a>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/">Startseite</a></li>
        <li><a routerLink="/about-us">Über uns</a></li>
        <li><a routerLink="/services">Leistungen</a></li>
        <li><a routerLink="/reviews">Referenzen</a></li>
        <li><a routerLink="/contact">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>
