<section class="about">
  <div class="container">
    <p class="ueberschrift">Über MexxMedia</p>
    <p class="content-Text">MexxMedia ist Ihre Social-Media-Agentur für messbaren Erfolg.<br>
      Wir sind ein junges, dynamisches Team aus erfahrenen Social-Media-Experten und kreativen Köpfen.<br>
      Unser Ziel ist es, Ihr Unternehmen im digitalen Raum optimal zu positionieren<br>
      und Ihre Markenbekanntheit, Kundenbindung und Ihren Umsatz nachhaltig zu steigern.</p>

    <p class="content-Text">Wir bieten Ihnen maßgeschneiderte Strategien und kreative Inhalte, die Ihre Zielgruppe begeistern.<br>
      Von Social-Media-Management über Content-Erstellung bis hin zur Planung und Durchführung von Werbekampangen <br>
      – wir begleiten Sie auf Ihrem Weg zum Online-Erfolg.</p>
    <br>
    <!--<p >Willkommen bei MexxMedia, Ihrem Partner für moderne und kreative Internetpräsenz!<br>
      Wir haben uns darauf spezialisiert, lokale Unternehmen dabei zu unterstützen, online sichtbar und erfolgreich zu werden. <br>
      Egal, ob Instagram, TikTok oder eine professionelle Webseite <br>
      – wir bieten Ihnen maßgeschneiderte Lösungen, um Ihre Marke ins digitale Rampenlicht zu stellen.</p>-->
  </div>
</section>
