<!--Karten-->
<section class="leistungen">
  <div class="container">
    <p class="ueberschrift">Unsere Leistungen</p>
    <div class="karten-grid">
      <div class="karte">
        <h4>Social Media Management</h4>
        <img src="assets/social-Media.png" alt="social-Media">
        <p>Wir verwalten Ihre Social Media Kanäle professionell und effizient.</p>
      </div>
      <div class="karte">
        <h4>Content Creation</h4>
        <img src="assets/camera.png" alt="Kamera">
        <p>Wir erstellen hochwertigen Content, der Ihre Zielgruppe begeistert.</p>
      </div>
      <div class="karte">
        <h4>Erstellung und Verwaltung moderner Webseiten</h4>
        <img src="assets/webseite-erstellen-lassen.png" alt="Webseite erstellen">
        <p>Ob ansprechendes Design, intuitive Bedienbarkeit oder optimale Performance
          <br> – wir sorgen dafür, dass Ihre Marke im Internet glänzt.</p>
      </div>
    </div>
  </div>
</section>
