/* Leistungen */
.leistungen {
  text-align: center;
  padding: 0px 5% 0px 7%;
}

.leistungen img{
  max-width: 60%; /* Bild skalieren */
  height: auto;
}



@media (max-width: 768px) {
  .karten-grid {
    grid-template-columns: 1fr; /* Leistungen untereinander */
  }
}
