/* Hero Bereich */
.hero {
  background-image: url("https://media.istockphoto.com/id/2129245265/de/foto/office-workplace-with-laptop-and-smart-phone-on-wood-table-workspace-desktop-computer-office.jpg?s=2048x2048&w=is&k=20&c=9Uh1d7AUKLqrLsFBuBg7MfSftbBYpyntsvv_tchn6BQ=");
  /* Hintergrundbild https://i.gifer.com/2uSY.gif*/
  /*https://upload.wikimedia.org/wikipedia/commons/7/7e/Knowledge_Is_Human_Homepage_Animated_Banner.gif*/
  background-position: center;
  min-height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bild-klein{
  max-width: 50%; /* Bild skalieren */
  max-height: 100%;
  position: absolute;
  bottom: -30%; /* Bild am unteren Rand positionieren */
  left: 50%; /* Bild horizontal zentrieren */
  transform: translateX(-50%); /* Bild horizontal um 50% seiner Breite nach links verschieben */
  border-radius: 20px 20px 0 0;
}

.bild-gross{
 min-width: 100%;
 height: auto;
 position: absolute;
 bottom: -30%; /* Bild am unteren Rand positionieren */
  transform: translateX(-50%);  /*Bild horizontal um 50% seiner Breite nach links verschieben */
  /*border-radius: 0 0 20px 20px ;*/
}

.hero-content {
  width: 100%; /* Der Container nimmt die volle Breite ein */
}


